<!--news-list-->
<div class="video-gallery-wrapper">
    <h3>熱門相簿</h3>
    <div id="video-gallery" class="video-gallery owl-carousel">
        <div class="thumbnail-wrap">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」團隊總冠軍爭霸戰</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity3.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>2016尾牙</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」團隊總冠軍爭霸戰</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
    </div>
    <div class="thumbnail-list-wrapper">
        <h3>全部相簿</h3>
        <div class="pages">
            <ul>
                <li>
                    <span class="prev disabled"></span>
                </li>
                <li>
                    <span class="current">1</span>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a href="#">21</a>
                </li>
                <li>
                    <a class="next" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href=""><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」團隊總冠軍爭霸戰</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href=""><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity3.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」團隊總冠軍爭霸戰</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href=""><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity3.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href=""><img src="img/activity3.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity2.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
        <div class="thumbnail-wrap col4">
            <div class="thumbnail-area box-shadow">
                <a href="gallery-detail.html"><img src="img/activity1.png" alt=""></a>
            </div>
            <div class="thumbnail-title">
                <a href="gallery-detail.html"><h4>20170313-16 「緯創動力盃」大賽</h4></a>
                <p>2017/05/23</p>
                <p>相片總數：9999</p>
            </div>
        </div>
    </div>
</div>
<!--./news-post-->