<!--左側選單-->
<div class="left-menu-wrapper">
    <div class="side-menu box-shadow">
        <ul>
            <li><a id="company" href="#">公司專區</a></li>
            <li><a id="sign" href="#">申請專區</a></li>
            <li><a id="department" href="#">部門專區</a></li>
            <li><a href="#">查詢專區</a></li>
            <li><a href="#">福委會專區</a></li>
            <li><a href="#">資訊專區</a></li>
            <li><a href="#">集團專區</a></li>
            <li><a href="#">下載專區</a></li>
            <li><a href="#">後台維護</a></li>
        </ul>
    </div>
</div>
<!--./左側選單-->