<!--Hot Links-->
<div class="middle-content-wrapper">
    <table class="links-list-wrapper company">
        <thead>
            <tr>
                <th colspan="2">公司專區</th>
            </tr>
        </thead>
        <tbody class="box-shadow">
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
        </tbody>
    </table>
    <table class="links-list-wrapper sign">
        <thead>
            <tr>
                <th colspan="2">申請專區</th>
            </tr>
        </thead>
        <tbody class="box-shadow">
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
        </tbody>
    </table>
    <table class="links-list-wrapper department">
        <thead>
            <tr>
                <th colspan="2">部門專區</th>
            </tr>
        </thead>
        <tbody class="box-shadow">
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">Crop MarCom</a></td>
                <td>公司對外簡介相關資料</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">教育訓練</a></td>
                <td>教育訓練箱關資訊、個人學習紀錄</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">行政暨人力資源網 (HR Online)</a></td>
                <td>組織圖、制度規章、行政暨人力資源相關</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">PRD (績效評核 / 發展)</a></td>
                <td>績效評核 / 發展系統</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">緯創招募網</a></td>
                <td>緯創招募網</td>
            </tr>
            <tr>
                <td><a href="javascript(0)">CS2R (企業永續與社會責任) 管理系統</a></td>
                <td>人事部</td>
            </tr>
        </tbody>
    </table>
</div>
<!--./Hot Links-->