
/*相簿集*/

.video-gallery-wrapper:after {
    content: '';
    clear: both;
    display: block;
}

.video-gallery-wrapper a:hover {
    color: #016f97;
}

.video-gallery-wrapper h3 {
    font-size: 20px;
}

.video-gallery {
    margin-top: 20px;
    margin-bottom: 32px;
}

.thumbnail-wrap {
    width: 346px;
    text-align: center;
    float: left;
}

.col4 {
    width: 256px;
    margin-top: 20px;
    margin-bottom: 32px;
    margin-right: 56px;
}

.col4:nth-child(4n) {
    float: right;
    margin-right: 0;
}

.col4 img {
    width: 100%;
    height: auto;
}

.thumbnail-area {
    border: 8px solid #fff;
    margin-bottom: 14px;
}

.thumbnail-title {
    text-align: center;
}

.thumbnail-title a {
    color: #4a4a4a;
    display: block;
    min-height: 50px;
}

.thumbnail-title h4 {
    line-height: 1.3;
    margin-bottom: 7px;
}

.thumbnail-title p {
    font-size: 14px;
    margin-bottom: 8px;
}


#video-gallery .owl-prev,
#video-gallery .owl-next {
    position: absolute;
    top: 33%;
    margin-top: -10px;
}

.thumbnail-list-wrapper h3 {
    float: left;
}


/*相簿詳細頁面*/

.photo-album-wrapper {
    float: left;
    margin-left: 20px;
    margin-bottom: 60px;
}

.photo-info-wrapper{
	float: left;
}

.album-info-wrapper > a {
    color: #4a4a4a;
    transition: all .3s;
    margin-bottom: 24px;
    display: block;
}

.album-info-wrapper a:hover {
    color: #006690;
}


.album-info-wrapper a:hover span {
    background: #006690;
    transition:  all .3s;
}

.album-info-wrapper a:hover i:before {
    color: #fff;
}

.photo-album-wrapper i:before {
    font-family: 'FontAwesome';
    color: #006690;
    font-size: 13px;
}

.album-info-wrapper i {
    padding-top: 5px;
}

.album-info-wrapper a span {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #0076a1;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-right: 14px;
}

.album-info-wrapper h3 {
    font-size: 20px;
}

.album-info-wrapper p {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.slideshow-container{
    max-height: 522px;
    overflow: hidden;
    .image-wrapper, a{
        max-height: 522px;
        height: 522px!important; 
        font-size: 0;
        line-height: 0;
        overflow: hidden;
    }img{
        height: 522px; 
        width: auto;
    }
}
#gallery{
    overflow: hidden;
}
div.caption-container{
    max-width: 100%;
    padding-top: 0.5em;
}
#thumbs{
    float: right;
}
ul.thumbs li{
    margin: 0 5px 5px 0;
}
ul.thumbs.cols3{
    width: 215px;
}
#page2{
    width: 1030px;
}