


/*團隊頁面*/

.lang{
    position: absolute;
    right: 0;
    width: auto;
    bottom: 1em;
    a{
        color: #999999;
        font-size: 14px;
        &:hover{
            color: #016F97;
            font-weight: bold;
        }
    }
}

.services-location-wrapper:after {
    clear: both;
    content: '';
    display: block;
}

.location-img {
    width: 512px;
    float: left;
}

.location-img img {
    width: 100%;
    height: auto;
}

.location-info-wrapper {
    width: 425px;
    margin-left: 24px;
    float: left;
}

.location-info-wrapper h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #006990
}

.location-info-wrapper p {
    line-height: 2;
    margin-top: 8px;
    font-size: 16px;
}

.team-group {
    margin: 32px 0;
    width: 1280px;
}

.team-group:after {
    clear: both;
    display: block;
    content: '';
}

.team-group h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4a4a4a;
}

.scroll {
    // width: 640px;
    width: auto;
    height: 250px;
    overflow-y: hidden;
}

.member-desc {
    float: left;
    text-align: center;
    margin-right: 14px;
}

.member-desc:first-child {
    margin-left: 0;
}

.member-desc:last-child {
    margin-right: 0;
}

.member-desc h4 {
    margin-top: 12px;
    margin-bottom: 10px;
}

[role=member]{
    .middle-content-wrapper{
        width: 1000px;
    }
    .left-menu-wrapper{
        width: 156px;
        ul{
            width: 100%;
            a{
                white-space: nowrap;
            }
        }
    }
    .page-title-wrapper{
        position: relative;
        display: block;
    }
    .h2-title{ 
        width: 100%;
        h2{
            width: 100%;
            position: relative;
        }
    }
    .slick-dots{
        bottom: 16px;
        button{
            width: 12px;
            height: 12px;
            border: 1px solid #fff;
            border-radius: 50%;
            &:before{
                color: transparent;
            }
        }
        .slick-active button{
            background: #fff;
        }
    }
}