<!--左邊選單-->
<div class="left-menu-wrapper">
    <div class="side-menu box-shadow">
        <div class="btn-wrapper">
            <a href="javascript: void(0)" class="scroll-btn" id="scroll-up" onmousedown ="return theUpFunction();"><i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <ul id="scroll">
            <li><a id="2017events" href="#">2017</a></li>
            <li><a id="2016events" href="#">2016</a></li>
            <li><a id="2015events" href="#">2015</a></li>
            <li><a id="2014events" href="#">2014</a></li>
            <li><a href="#">2013</a></li>
            <li><a href="#">2012</a></li>
            <li><a href="#">2011</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
            <li><a href="#">2008</a></li>
            <li><a href="#">2007</a></li>
            <li><a href="#">2006</a></li>
            <li><a href="#">2005</a></li>
            <li><a href="#">2004</a></li>
            <li><a href="#">2003</a></li>
            <li><a href="#">2002</a></li>
            <li><a href="#">2001</a></li>
            <li><a href="#">2000</a></li>
            <li><a href="#">1999</a></li>
            <li><a href="#">1998</a></li>
            <li><a href="#">1997</a></li>
            <li><a href="#">1996</a></li>
        </ul>
        <div class="btn-wrapper">
            <a href="javascript: void(0)" class="scroll-btn" id="scroll-down" onmousedown ="return theDownFunction();"><i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div>
<!--./左邊選單-->