<!--左邊選單-->
<div class="left-menu-wrapper">
    <div class="side-menu box-shadow">
        <ul id="scroll" data-slides-to-scroll="10" data-slides-to-show="10" data-initial-slide="10">
            <li><a class="active" id="2017events" href="#">2017</a></li>
            <li><a id="2016events" href="#">2016</a></li>
            <li><a id="2015events" href="#">2015</a></li>
            <li><a id="2014events" href="#">2014</a></li>
            <li><a href="#">2013</a></li>
            <li><a href="#">2012</a></li>
            <li><a href="#">2011</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
            <li><a href="#">2008</a></li>
            <li><a href="#">2007</a></li>
            <li><a href="#">2006</a></li>
            <li><a href="#">2005</a></li>
            <li><a href="#">2004</a></li>
            <li><a href="#">2003</a></li>
            <li><a href="#">2002</a></li>
            <li><a href="#">2001</a></li>
            <li><a href="#">2000</a></li>
            <li><a href="#">1999</a></li>
            <li><a href="#">1998</a></li>
            <li><a href="#">1997</a></li>
            <li><a href="#">1996</a></li>
        </ul>
    </div>
</div>
<!--./左邊選單-->