<!--大事紀-->
<div class="middle-content-wrapper">
    <div class="location-tab events2017">
        <ul class="tabs">
            <li><a href="#tab1">緯創昆山</a></li>
            <li><a href="#tab2">緯創</a></li>
        </ul>
        <div class="tab-container box-shadow">
            <div id="tab1" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2017年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2017年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2017年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2017年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2017年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2017年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2017年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2017年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2017年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2017年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab2" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2017年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2017年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2017年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2017年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2017年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2017年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2017年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2017年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2017年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2017年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="location-tab events2016">
        <ul class="tabs">
            <li><a href="#tab3">緯創昆山</a></li>
            <li><a href="#tab4">緯創</a></li>
        </ul>
        <div class="tab-container box-shadow">
            <div id="tab3" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2016年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2016年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2016年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2016年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2016年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2016年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2016年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2016年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2016年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab4" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2016年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2016年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2016年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2016年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2016年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2016年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2016年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2016年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2016年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2016年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="location-tab events2015">
        <ul class="tabs">
            <li><a href="#tab5">緯創昆山</a></li>
            <li><a href="#tab6">緯創</a></li>
        </ul>
        <div class="tab-container box-shadow">
            <div id="tab5" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2015年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2015年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2015年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2015年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2015年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2015年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2015年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2015年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2015年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2015年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab6" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2015年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2015年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2015年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2015年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2015年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2015年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2015年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2015年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2015年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2015年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="location-tab events2014">
        <ul class="tabs">
            <li><a href="#tab7">緯創昆山</a></li>
            <li><a href="#tab8">緯創</a></li>
        </ul>
        <div class="tab-container box-shadow">
            <div id="tab7" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2014年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2014年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2014年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2014年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2014年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2014年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2014年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2014年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2014年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2014年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab8" class="tab-content">
                <table>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>2014年1月合併營收為546.91億元，較去年同期增加32.7%。</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>2014年1月合併營收為494.16億元，較去年同期增加22.5%。</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>2014年3月合併營收為643億元，較去年同期增加21%。</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2014年3月其他大事。</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>2014年4月合併營收為593.43億元，較去年同期增加33.52%。</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>2014年5月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>June</td>
                            <td>2014年6月大事</td>
                        </tr>
                        <tr>
                            <td>Jul</td>
                            <td>2014年7月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Aug</td>
                            <td>2014年8月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Sep</td>
                            <td>2014年9月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Oct</td>
                            <td>10月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                        <tr>
                            <td>Nov</td>
                            <td>11月總公司大事。</td>
                        </tr>
                        <tr>
                            <td>Dec</td>
                            <td>12月合併營收為642.04億元，較去年同期增加33.38%。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--./大事紀-->