<!--左側選單-->
<div class="left-menu-wrapper">
    <div class="side-menu box-shadow">
        <ul>
            <li><a class="active" href="#">台灣．WNH</a></li>
            <li><a href="#">台灣．WHC</a></li>
            <li><a href="#">台灣．WIH</a></li>
            <li><a href="#">中國．WZS</a></li>
            <li><a href="#">中國．WKS</a></li>
            <li><a href="#">中國．WTZ</a></li>
            <li><a href="#">中國．WCD</a></li>
            <li><a href="#">中國．WCQ</a></li>
            <li><a href="#">中國．WOK</a></li>
            <li><a href="#">美國．WTX</a></li>
            <li><a href="#">捷克．WCZ</a></li>
            <li><a href="#">菲律賓．WPH</a></li>
            <li><a href="#">墨西哥．WMX</a></li>
        </ul>
    </div>
</div>
<!--./左側選單-->