<!--管理團隊-->
<div class="middle-content-wrapper">
    <div class="services-location-wrapper">
        <div class="location-img"><img src="img/services-location.jpg" alt=""></div>
        <div class="location-info-wrapper">
            <h4>WNH．緯創資通股份有限公司（內湖總部）</h4>
            <p>地　　點：台灣台北市<br>
                人員規模：約 1000 人<br>
                功　　能：緯創資通內湖總部<br>
                地　　址： 114台北市內湖區行善路158號<br>
                電　　話： 02 6616 9999<br>
                速　　撥： 8501+0<br>
                傳　　真： 02 6612 5188<br>
            </p>
        </div>
    </div>
    <div class="team-group">
        <h3>管理團隊</h3>
        <div class="scroll">
            <div class="member-desc">
                <div><img src="img/group-member-1.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-2.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-3.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
        </div>
    </div>
    <div class="team-group">
        <h3>管理團隊</h3>
        <div class="member-desc">
            <div><img src="img/group-member-1.jpg" /></div>
            <h4>人名</h4>
            <p>職務</p>
        </div>
        <div class="member-desc">
            <div><img src="img/group-member-2.jpg" /></div>
            <h4>人名</h4>
            <p>職務</p>
        </div>
        <div class="member-desc">
            <div><img src="img/group-member-3.jpg" /></div>
            <h4>人名</h4>
            <p>職務</p>
        </div>
    </div>
</div>
<!--./管理團隊-->