<!--管理團隊-->
<div class="middle-content-wrapper">
    <div class="services-location-wrapper">
        <div class="location-img">
            <img src="img/services-location.jpg" alt="">
            <img src="img/services-location.jpg" alt="">
            <img src="img/services-location.jpg" alt="">
        </div>
        <div class="location-info-wrapper visible-zh"><!--中文要顯示的內容 加上visible-zh 當英文模式的時候不顯示 -->
            <h4>WNH．緯創資通股份有限公司（內湖總部）</h4>
            <p>地　　點：台灣台北市<br>
                人員規模：約 1000 人<br>
                功　　能：緯創資通內湖總部<br>
                地　　址： <a target="_blank" href="https://map.google.com/?q=114台北市內湖區行善路158號">114台北市內湖區行善路158號 <i class="fa fa-map-marker"></i></a><br>
                電　　話： 02 6616 9999<br>
                速　　撥： 8501+0<br>
                傳　　真： 02 6612 5188<br>
            </p>

        </div>
        <div class="location-info-wrapper visible-en"><!--英文要顯示的內容 加上visible-en 當中文模式的時候不顯示 -->
            <h4>WKS‧Wistron InfoComm(Kunshan) Co.,Ltd</h4>
            <p>
                Location：Kunshan,Jiangsu,China <br>
                Number of employees：about 38000 <br>
                Function：Notebook Manufactory<br>
                Address：<a target="_blank" href="https://map.google.com/?q=No.168+,First+Avenue,Kunshan+Integrated+Free+Trade+Zone,Kunshan,Jiangsu,China">No.168 ,First Avenue,Kunshan Integrated Free Trade Zone,Kunshan,Jiangsu,China <i class="fa fa-map-marker"></i></a><br>
                Post Number：215300<br>
                Telephone：+86-512-57367888<br>
                Speed Dail(Phone)：8568+0 <br>
                Fax：+86-512-57367999<br>
                Speed Dial(Fax)：8568+7999 
            </p>
        </div>
    </div>
    <aside class="visible-zh"><!--中文要顯示的內容 加上visible-zh 當英文模式的時候不顯示 -->
        <div class="team-group">
            <h3>管理團隊</h3>
            <div class="scroll">
                <div class="member-desc">
                    <div><img src="img/group-member-1.jpg" /></div>
                    <h4>人名</h4>
                    <p>職務</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-2.jpg" /></div>
                    <h4>人名</h4>
                    <p>職務</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-3.jpg" /></div>
                    <h4>人名</h4>
                    <p>職務</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-3.jpg" /></div>
                    <h4>人名</h4>
                    <p>職務</p>
                </div>
            </div>
        </div>
        <div class="team-group">
            <h3>管理團隊</h3>
            <div class="member-desc">
                <div><img src="img/group-member-1.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-2.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-3.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-3.jpg" /></div>
                <h4>人名</h4>
                <p>職務</p>
            </div>
        </div>
    </aside>
    <aside class="visible-en"><!--英文要顯示的內容 加上visible-en 當中文模式的時候不顯示 -->
        <div class="team-group">
            <h3>Team</h3>
            <div class="scroll">
                <div class="member-desc">
                    <div><img src="img/group-member-1.jpg" /></div>
                    <h4>Name</h4>
                    <p>Title</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-2.jpg" /></div>
                    <h4>Name</h4>
                    <p>Title</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-3.jpg" /></div>
                    <h4>Name</h4>
                    <p>Title</p>
                </div>
                <div class="member-desc">
                    <div><img src="img/group-member-3.jpg" /></div>
                    <h4>Name</h4>
                    <p>Title</p>
                </div>
            </div>
        </div>
        <div class="team-group">
            <h3>Team</h3>
            <div class="member-desc">
                <div><img src="img/group-member-1.jpg" /></div>
                <h4>Name</h4>
                <p>Title</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-2.jpg" /></div>
                <h4>Name</h4>
                <p>Title</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-3.jpg" /></div>
                <h4>Name</h4>
                <p>Title</p>
            </div>
            <div class="member-desc">
                <div><img src="img/group-member-3.jpg" /></div>
                <h4>Name</h4>
                <p>Title</p>
            </div>
        </div>
    </aside>
</div>
<!--./管理團隊-->