<!--左側選單-->
<div class="left-menu-wrapper">
    <div class="side-menu box-shadow margintop">
        <ul class="years-tabs">
            <li><a class="active" href="#">風火山林</a></li><!--目前顯示的分類加上 class active -->
            <li><a href="#">分類一</a></li>
            <li><a href="#">分類二</a></li>
            <li><a href="#">分類三</a></li>
            <li><a href="#">分類四</a></li>
            <li><a href="#">分類五</a></li>
            <li><a href="#">分類六</a></li>
            <li><a href="#">分類七</a></li>
        </ul>
    </div>
</div>
<!--./左側選單-->