
<div class="left-menu-wrapper">
    <div class="slogan">
        <img src="img/slogan.png">
    </div>
    <div class="side-menu box-shadow">
        <ul>
            <li><a class="active" id="allnews" href="javascript: void(0)">全球訊息</a></li>
            <li><a id="companys" href="javascript: void(0)">公司訊息</a></li>
            <li><a href="javascript: void(0)">組織與人事</a></li>
            <li><a href="javascript: void(0)">MIS</a></li>
            <li><a href="javascript: void(0)">教育訓練</a></li>
            <li><a href="javascript: void(0)">行政服務中心</a></li>
            <li><a href="javascript: void(0)">員工特價</a></li>
            <li><a href="javascript: void(0)">福委會</a></li>
            <li><a href="javascript: void(0)">福利網</a></li>
            <li><a href="javascript: void(0)">緯創社團</a></li>
        </ul>
    </div>
</div>