<!--訊息列表-->
<div class="middle-content-wrapper">
    <!--全球訊息-->
    <div class="news-list-wrapper allnews">
        <div class="topnews-wrapper">
            <div class="topnews-tip">
                <img src="img/topnews-tip-bullhorn.png">
                <ul>
                    <li class="active">EIP，訊息發布最佳平台，歡迎各單位使用1EIP，訊息發布最佳平台，歡迎各單位使用1EIP，訊息發布最佳平台，歡迎各單位使用1</li>
                    <li>EIP，訊息發布最佳平台，歡迎各單位使用2EIP，訊息發布最佳平台，歡迎各單位使用2EIP，訊息發布最佳平台，歡迎各單位使用2EIP，訊息發布最佳平台，歡迎各單位使用2</li>
                    <li>EIP，訊息發布最佳平台，歡迎各單位使用3</li>
                </ul>
            </div>
            <div class="topnews">
                <h4 class="header-news-title"><img src="img/triangle-title-g.png" class="title-img" >Top News</h4>
                <h4 class="news-title">置頂訊息標題置頂訊息標題置頂訊息標題置頂訊息標題置頂訊息標題</h4>
                <p>置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息</p>
                <div class="readmore-btn">
                    <a href="javascript: void(0)" class="link-btn">閱讀全文</a>
                </div>
            </div>
        </div>
        <table class="news-title">
            <thead>
                <tr>
                    <th>訊息中心</th>
                    <th></th>
                    <th>日期</th>
                </tr>
            </thead>
        </table>
        <table class="news-list box-shadow">
            <tbody>
                <tr>
                    <td><a href="">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--./全球訊息-->
    <!--公司訊息-->
    <div class="news-list-wrapper companys">
        <div class="topnews-wrapper">
            <div class="topnews-tip">
                <img src="img/topnews-tip-bullhorn.png">EIP，訊息發布最佳平台，歡迎各單位使用
            </div>
            <div class="topnews">
                <h4 class="header-news-title"><img src="img/triangle-title-g.png" class="title-img" >Top News</h4>
                <h4 class="news-title">置頂訊息標題置頂訊息標題置頂訊息標題置頂訊息標題置頂訊息標題</h4>
                <p>置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息內文置頂訊息</p>
                <div class="readmore-btn">
                    <a href="javascript: void(0)" class="link-btn">閱讀全文</a>
                </div>
            </div>
        </div>
        <table class="news-title">
            <thead>
                <tr>
                    <th>訊息中心</th>
                    <th></th>
                    <th>日期</th>
                </tr>
            </thead>
        </table>
        <table class="news-list box-shadow">
            <tbody>
                <tr>
                    <td><a href="">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--./公司訊息-->
</div>
<!--./訊息列表-->