<!--卓越團隊-->
<!-- 
<div class="recommend-area-wrap hide"> 沒有內容時加上 class hide
-->
<div class="recommend-area-wrap">
    <h3><img src="img/triangle-title-b.png" alt="" class="title-img">106年度卓越團隊</h3>
    <div id="recommend-area" class="owl-carousel">
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member1.jpg"></a>
                <div class="rec-desc">
                    <a href="">周杰倫</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member2.jpg"></a>
                <div class="rec-desc">
                    <a href="">張惠妹</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member3.jpg"></a>
                <div class="rec-desc">
                    <a href="">蔡依林</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member4.jpg"></a>
                <div class="rec-desc">
                    <a href="">金城武</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member5.jpg"></a>
                <div class="rec-desc">
                    <a href="">彭于晏</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="rec-info">
                <a href=""><img src="img/member6.jpg"></a>
                <div class="rec-desc">
                    <a href="">謝霆鋒</a>
                    <p>
                        緯創總部
                        <br> 研發部門
                        <br> 助理工程師
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./卓越團隊-->