<!--緯創全球據點-->
<div class="services-location">
    <h3><img src="img/triangle-title-b.png" class="title-img" >緯創全球據點</h3>
    <div class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d65351504.44035122!2d139.8180999078857!3d1.3325660851539574!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1508848285010" width="852" height="436" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="desc">
            <h5>Taipei</h5>
            <p>2017/09/28 04:00 PM</p>
        </div>
        <div id = "main-container" class="container scratch">
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div class="marksDiv">
            <div class="marks"></div>
            </div>
            <div id="clockFrame">
            <div id="centercircle"></div>
            <div  class="hand" id="hourHand"></div>
            <div class="hand" id="minuteHand"></div>
            <div class="hand" id="secondHand" ></div>
            </div>
        </div>
    </div>
</div>
<!--./緯創全球據點-->