<!--Image Gallery-->
<div class="video-gallery-area">
    <div class="gallery-wrapper">
        <h3><img src="img/triangle-title-b.png" class="title-img" >
            Image Gallery
            <a href="video-gallery-area.html" class="link-btn">More</a>
        </h3>
        <div class="gallery-content">
            <div id="gallery-area" class="owl-carousel owl-theme">
                <a href="video-gallery-area.html"><img src="img/gallery.jpg" alt=""></a>
                <a href="video-gallery-area.html"><img src="img/gallery.jpg" alt=""></a>
                <a href="video-gallery-area.html"><img src="img/gallery.jpg" alt=""></a>
                <a href="video-gallery-area.html"><img src="img/gallery.jpg" alt=""></a>
                <a href="video-gallery-area.html"><img src="img/gallery.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="video-wrapper">
        <h3><img src="img/triangle-title-b.png" class="title-img" >Wistron video
            <a href="video-gallery-area.html" class="link-btn">More</a>
        </h3>
        <div class="video-content">
            <a href="#" class="playbtn"></a>
            <div class="video-title">
                <p>影片標題</p>
            </div>
            <img src="img/video.jpg" alt="">
        </div>
    </div>
</div>
<!--./Image Gallery-->