<!--左側選單-->
<div class="left-menu-wrapper">
    <div class="slogan">
        <img src="img/slogan.png">
    </div>
    <div class="side-menu box-shadow">
        <ul>
            <li><a href="news.html">全球訊息</a></li>
            <li><a href="news.html">公司訊息</a></li>
            <li><a href="news.html">組織與人事</a></li>
            <li><a href="news.html">MIS</a></li>
            <li><a href="news.html">教育訓練</a></li>
            <li><a href="news.html">行政服務中心</a></li>
            <li><a href="news.html">員工特價</a></li>
            <li><a href="news.html">福委會</a></li>
            <li><a href="news.html">福利網</a></li>
            <li><a href="news.html">緯創社團</a></li>
        </ul>
    </div>
</div>
<!--./左側選單-->