<!--news-list-->
<div class="middle-content-wrapper">
    <div class="news-list-wrapper allnews">
        <div class="pages">
            <ul>
                <li>
                    <span class="prev disabled"></span>
                </li>
                <li>
                    <span class="current">1</span>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a href="#">21</a>
                </li>
                <li>
                    <a class="next" href="#"></a>
                </li>
            </ul>
        </div>
        <table class="news-title">
            <thead>
                <tr>
                    <th>訊息中心</th>
                    <th></th>
                    <th>日期</th>
                </tr>
            </thead>
        </table>
        <table id="news-list" class="news-list box-shadow">
            <tbody>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td><span class="newpost"></span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【人事】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【MIS】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【福委會】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
            </tbody>
        </table>
        <div class="pages">
            <ul>
                <li>
                    <span class="prev disabled"></span>
                </li>
                <li>
                    <span class="current">1</span>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a href="#">21</a>
                </li>
                <li>
                    <a class="next" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="news-list-wrapper companys">
        <div class="pages">
            <ul>
                <li>
                    <span class="prev disabled"></span>
                </li>
                <li>
                    <span class="current">1</span>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a href="#">21</a>
                </li>
                <li>
                    <a class="next" href="#"></a>
                </li>
            </ul>
        </div>
        <table class="news-title">
            <thead>
                <tr>
                    <th>訊息中心</th>
                    <th></th>
                    <th>日期</th>
                </tr>
            </thead>
        </table>
        <table id="news-list" class="news-list box-shadow">
            <tbody>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家...</a>
                    </td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td><span class="newpost">NEW</span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01 於台中麗寶樂園舉行，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td><span class="newpost"></span></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】請各單位主管於八月底前完成上半年度績效評估作業。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】勒索病毒再度來襲，請同仁務必更新防毒軟體，若已中毒者請關機回家已中毒者請關機回家已中毒者請關機回家</a>
                    </td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
                <tr>
                    <td><a href="news-singlepost.html">【公司訊息】106年度家庭日將於106.09.01於台中麗寶樂園舉行，歡迎闔家蒞臨。，歡迎闔家蒞臨。，歡迎闔家蒞臨。</a></td>
                    <td></td>
                    <td>2017/09/07</td>
                </tr>
            </tbody>
        </table>
        <div class="pages">
            <ul>
                <li>
                    <span class="prev disabled"></span>
                </li>
                <li>
                    <span class="current">1</span>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a href="#">21</a>
                </li>
                <li>
                    <a class="next" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--./news-post-->