<!--一般搜尋-->
<div class="middle-content-wrapper">
    <h3>Search</h3>
    <hr>
    <aside class="input">
        <i class="fa fa-search"></i>
        <input type="text" name="q" placeholder="請輸入關鍵字搜尋" class="input">
        <button class="btn btn-primary" id="search">搜尋</button>
        <button class="btn btn-defalt" id="search">進階搜尋</button>

    </aside>
    <aside class="result">
        <h4>搜尋結果</h4>
        <aside class="tabs">
        </aside>
        
        <ul class="filters">
            <li></li>
        </ul>

        <ul class="list">
            <li>

            </li>
        </ul>
    </aside>
</div>
<aside class="tpl hide">
    <article class="article-result">
        <h3 class="title"></h3>
        <p class="summary"></p>
        <p class="date"></p>
    </article>
    <article class="gallery-result">
        <aside class="row">
            <aside class="col-xs-3">
                <img>
            </aside>
            <aside class="col-xs-9">
                <h3 class="title"></h3>
                <p class="date"></p>
                <p class="c">相片總數：<span class="amount"></span></p>
            </aside>
        </aside>
    </article>
    <article class="video-result">
        <aside class="row">
            <aside class="col-xs-3">
                <img>
            </aside>
            <aside class="col-xs-9">
                <h3 class="title"></h3>
                <p class="summary"></p>
                <p class="date"></p>
            </aside>
        </aside>
    </article>
</aside>
<!--./一般搜尋-->